/* TeachersCarousel.css */
.teacher-carousel {
  overflow: hidden;
  width: 90%;
  padding: 10px;
  margin: 1rem auto;
  margin-right: 40px;
  text-align: center;
  padding-bottom: 20px;
}

.teacher-carousel h2 {
  margin: 30px 0;
  font-size: 2.2rem;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.teacher-card {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: #fafafa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 320px;
  margin: auto;
}

.teacher-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #2e1776;
  object-fit: cover;
}

.teacher-card h3 {
  font-size: 1.5em;
  color: #333;
  font-weight: 600;
  margin: 15px 0;
}

.teacher-card p {
  color: #555;
  font-size: 1em;
  margin: 5px 0;
}

.carousel-btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #6d2faf;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  margin: 50px auto 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.carousel-btn:hover {
  background-color: #190fe0;
  transform: scale(1.05);
  color: #fff;
}

/* Slick Carousel Overwrite */
.slick-prev, .slick-next {
  visibility: hidden;
}

.slick-dots li button:before {
  font-size: 0.8rem;
  color: #6b50d8;
}

.slick-dots li.slick-active button:before {
  color: #509ae9;
}