.teacherCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 1.5rem;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin: 20px;
  position: relative;
  

  /* Multi-color rotating border */
  border: 5px solid transparent;
  border-radius: 12px;
  background: linear-gradient(white, white) padding-box, 
              linear-gradient(45deg, #007bff, #00bfff, #0056b3, #3399ff, #001f4d, #007bff) border-box;
  animation: rotateBorder 3s linear infinite;

  .profilePic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
      
  }

  h3 {
      font-size: 1.2rem;
      margin: 0.5rem 0;
      color: #2f10bc;
  }

  p {
      font-size: 0.9rem;
      margin: 0.3rem 0;
      color: #555;
  }

  .knowMoreButton {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
          background-color: #0056b3;
      }
  }
}

/* Keyframes for rotating border */
@keyframes rotateBorder {
  0% {
      background: linear-gradient(white, white) padding-box, 
                  linear-gradient(45deg, #007bff, #00bfff, #0056b3, #3399ff, #001f4d, #007bff) border-box;
  }
  100% {
      background: linear-gradient(white, white) padding-box, 
                  linear-gradient(405deg, #007bff, #00bfff, #0056b3, #3399ff, #001f4d, #007bff) border-box;
  }
}
